DATABASE_URL="postgresql://postgres:postgres@localhost:5432/asesores?schema=public"
NEXT_PUBLIC_APP_NAME="Asesores"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="tu-cloud-name"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="tu-upload-preset-firmado-o-unsigned"
